.#{$class-prefix}forgot-password-layout {
  width: 100%;
  @include appLayout();
}

.#{$class-prefix}forgot-password-content {
  @include appContent();
}

.#{$class-prefix}forgot-password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: $container-width;
  padding: 8px 24px;
  min-height: 50px;

  @include media-query-sm() {
    width: $container-width-sm;
  }
  @include media-query-md() {
    width: $container-width-md;
  }
  @include media-query-lg() {
    width: $container-width-lg;
  }
  @include media-query-xl() {
    width: $container-width-xl;
  }
}

.#{$class-prefix}forgot-password-button {
  font-size: 16px;
  font-weight: 500;
  padding: 0 12px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  border-radius: 30px;
  margin: 0 6px;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
  &:hover {
    text-decoration: none;
  }
}

.#{$class-prefix}forgot-password-login-button {
  color: $text-weak;
  &:hover {
    color: $text-weak-hover;
    text-decoration: none;
    background-color: #f9f9f9;
  }
  &:visited {
    color: $text-weak;
  }
}

.#{$class-prefix}forgot-password-signup-button {
  border: 1px solid blue;
  &:hover {
    background: #d0e8ff;
    box-shadow: inset 0 0 0 2px #0a66c2;
  }
}
